
.writepub_content_editor_area img {
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	width: auto !important;
	height: auto !important;
}

.writepub_content_editor_area iframe {
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
